.title {
  font-size: 3em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.summary {
  font-style: italic;
  margin-bottom: 4em;
}

.soundButtons {
  display: flex;
  justify-content: space-around;
}

.soundButtons button {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(var(--foreground-rgb));
}