.homeHeader {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.homeContent {
  display: flex;
  align-items: center;
}

.textInputContent {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.imgContent {
  flex-grow: 1;
}

.imgContent img {
  object-fit: cover;
  width: 100%;
}

.textArea {
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  height: 15em;
  padding: 1em;
  margin-bottom: 1rem;
}

.content {
  margin: 0rem 16rem 3rem 16rem;
}

.inputText {
  outline: 3px;
}

.inputFile {
  margin-bottom: 1em;
}