.homeHeader {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
}

.homeContent {
  display: flex;
}

.textInputContent {
  flex-grow: 2;
}

.uploadPDFContent {
  flex-grow: 1;
}
.content {
  margin: 5rem 5rem;
}

.inputText {
  outline: 3px;
}